a {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
	color: blue;
}

a:visited {
	color: blue;
	text-decoration: none;
}

a img {
	border: none;
}

body {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font: 28px Helvetica, sans-serif;
}

h2 {
	font: 24px Helvetica, sans-serif;
	border-bottom: 1px solid #000000;
}

h3 {
	font: 20px Helvetica, sans-serif;
}

h4 {
	font: 16px Helvetica, sans-serif;
}

.indented {
	padding-left: 2em;
}

pre {
	border: 1px dashed #000000;
	margin: 0px auto;
	padding-left: 2em;
	padding-right: 2em;
	background-color: #eeeeee;
}

.figcontain {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}

.figcaption {
	font: bold 16px Helvetica, sans-serif;
	text-align: center;
	padding-top: 10px;
}

li {
	margin-bottom:3px;
}
